<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobbay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".applyJob"></activity>
        <activity android:name=".Home" />
        <activity android:name=".ShowProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".JobDetails" />
        <activity android:name=".viewJobs" />
        <activity android:name=".InsertJobPostActivity" />
        <activity android:name=".viewCandidates" />
        <activity android:name=".postJob" />
        <activity android:name=".adminLogin" />
        <activity android:name=".adminHome" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>